.lm-container {
    padding-bottom: 3em;
}

.lm-container h1 {
    padding-left: 15px;
    margin-top:20px;
    margin-bottom:20px;
}

.lm-col-1 textarea,
.lm-col-2 textarea {
    min-height: 20em;
}

.lm-col-2 textarea,
.lm-col-2 textarea:focus {
    background-color: #F5F5F5;
}

.lm-col-1 label,
.lm-col-2 label {
    padding-top: 1em;
    height: 3em;
}

footer {
    position: fixed;
    bottom: 0;
    height: 3em;
    padding: 10px 15px;
    background-color: #F5F5F5;
    width: 100%
}

@media screen and (max-width: 600px) {
    .lm-container {
        padding-bottom: 4.5em;
    }
    footer {
        height: 4.5em;
    }
}