.lm-container {
    background: url('/img/arnamient-73.png') repeat-x top transparent;
}

.lm-container h1 {
    padding-top: 50px;
    margin-top:20px;
    margin-bottom:20px;
    color: #E12429;
}

.lm-col-1 textarea,
.lm-col-2 textarea {
    min-height: 10em;
    font-size: 1.5rem;
}

.lm-col-2 textarea,
.lm-col-2 textarea:focus {
    background-color: #F5F5F5;
}

.lm-col-1 label,
.lm-col-2 label {
    font-size: 1.5rem;
    height: 2em;
}

.lm-btn {
    color: #ffffff;
    background-color: #E12429;
    border-color: #C31B1F;
    cursor: pointer;
}

a {
    color: #e12429;
}

a:hover {
    color: #b31a1e;
}

.lm-btn-bottom {

    margin-top: 1.5em;
}

footer {
    background: url('/img/arnamient-73.png') repeat-x top transparent;
}

@media screen and (min-width: 993px) {

    .lm-container {
        padding-bottom: 3em;
    }

    .lm-btn-bottom {
        display: none;
    }

    footer {
        position: fixed;
        bottom: 0;
        height: 3em;
        padding: 2.5em 15px;
        width: 100%
    }
}

@media screen and (max-width: 992px) {

    .lm-btn-top{
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .lm-container {
        padding-bottom: 0;
    }

    footer {
        display: none;
    }
}